* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 19px;
  font-style: italic;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color:rgb(26, 28, 31)
}

body {
  background-image: #005aa7;
  background-image: url(./img/img2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
  
}
h1 {
  font-family: "Frijole", cursive;
  /* font-family: 'Rubik Iso', cursive; */
  font-size: 60px;
  margin-top: 25px;
}
header {
  text-align: center;
}

h3 {
  font-family: "Frijole", cursive;
  /* font-family: 'Rubik Iso', cursive; */
  text-align: center;
  font-size: 20px;
}
div {
  margin: 25px 100px;
  padding: 80px 34px;
  /* border: 2px solid rgb(15, 15, 3); */
  border-radius: 50px;
  box-shadow: 10px 20px 50px 10px gray;
}
img {
  height: 200px;
  width: 25%;
  float: left;
  position: relative;
  bottom: 50px;
  right: 3px;
  border-radius: 25px;
  box-shadow: 10px 20px 50px 10px;
  cursor: pointer;
}

section {
  padding: 1px;
  text-align: right;
  /* border: 2px solid red; */
  margin: 10px 20px;
}
button {
  position: relative;
  top: 30px;
  padding: 15px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

a {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  font-family: "Frijole", cursive;
}
img:hover,
button:hover,
h1:hover,
h3:hover {
  transform: scale(1.1);
}
p,h3,h1{
  color : whitesmoke
}
